{
    "Checks": [
        "boost-*",
        "bugprone-*",
        "cert-*",
        "clang-analyzer-*",
        "concurrency-*",
        "cppcoreguidelines-*",
        "performance-*",
        "portability-*"
    ]
}